@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

*::selection {
    background-color: #000000;
    color: #ffffff;
}

@theme {
    --font-kenoky: KENOKY, sans-serif;
    --font-dm-sans: "DM+Sans", sans-serif;
    --color-light-black: #262626;
}

@font-face {
    font-family: 'kenoky';
    src: url('/fonts/kenoky.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-medium-italic {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-light {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.accordion {
    transition: all .6s cubic-bezier(0.76, 0, 0.24, 1);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slider-slide {
    animation: 15s slide infinite linear;
}
.slider-slide.reverse {
    animation: 15s slide infinite linear reverse;
}

.char {
    transform: translateY(100%);
    opacity: 0;
}


